@use '../util' as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  margin-block-end: 50vh; // temporary, remove after website is complete
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
