:root {
  --color-background: hsl(244, 51%, 11%);
  --color-text: hsl(0, 0%, 94%);
  --color-accent: hsl(169, 100%, 47%);
  --color-accent-hover: hsl(169, 100%, 37%);
  --color-accent2: hsl(245, 45%, 30%);
  --color-accent2-hover: hsl(245, 45%, 45%);
}
